@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-rich-black: #010F1C;
  --color-neon-blue: #5272F2;
  --color-jasper: #D9594C;
  --color-mauve: #E2A9FC;
  --color-baby-powder: #FAF9F5;
}